@model MiniInventoryManagementSystem.Models.Catagory
@using MiniInventoryManagementSystem.Models.SupportClass

@{
    ViewData["Title"] = "Create New Catagory";
    SupportClassErrorView errorview = TempData["errormessage"] as SupportClassErrorView;
}


<style>
    .card {
        border: 1px solid gold;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
</style>


@if (errorview != null && errorview.IsError)
{
    <script>
            alert(`@errorview.ErrorType\n @errorview.ErrorMessage`);
    </script>
}
<div class="card pt-5 pb-1">
    <h1 class="text-center">Create New Catagory</h1>

    @*<h4 class="ms-5">Add New Catagory Name</h4>*@
    <div class="row ms-5">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CatagoryName" class="control-label"></label>
                    <input asp-for="CatagoryName" class="form-control" id="CatagoryNameInput" />
                    <span asp-validation-for="CatagoryName" class="text-danger"></span>
                </div>
                <div class="form-group mt-2 mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="ms-2">
        <a asp-action="Index" class="text-decoration-none"><i class="bi bi-caret-left-square fs-6"></i>Back To Catagory List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
