@model ImageUploadRetrive.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Delete</h1>

<h4>ImageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImageName" class="form-control" />
            <input type="hidden" asp-for="ImageId" class="form-control" />
            <input type="hidden" asp-for="Title" class="form-control" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <span>@Html.DisplayFor(model => Model.Title)</span>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label><br />
                <img decoding="async" src="@("~/images/"+Model.ImageName)" asp-append-version="true" width="100px" height="100px" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


